<h1>Add Collaborators to <%= @wiki.title %> wiki</h1>


<table class="table table-bordered">
  <tbody>
<% @users.each do |user| %>

      <tr>
        <td class="col-md-4"><%= "User: #{user.email}" %></td>
        <td class="col-md-1">
          <% if Collaborator.find_by(user_id: user.id, wiki_id: params[:wiki_id]) %>
          <%= link_to "remove collaborator", collaborator_path(user, wiki_id: params[:wiki_id]), method: :delete %>
            Is a collaborator.
          <% else %>
            <%= link_to "Not a collaborator", collaborators_path(user_id: user.id, wiki_id: params[:wiki_id]), method: :post %>
          <% end %>
        </td>
      </tr>
    </div>

<% end %>
</tbody>
</table>
