 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "welcome";

h1{
  text-align: center;
  padding: 30px;
}

.signup{
  text-align: center;
  border: solid;
  padding: 30px;

}

.btn{
  margin-top: 30px;
}

.col-md-6{
  text-align: center;
  padding: 35px;
}

.img {
  padding: 30px;
}

.plans{

}
